.green{
	background-color:#23A653;
	}

.arrowLeftBg{
	background:url("../img/arLeft.png") no-repeat;
	height:55px;
	background-size:65% 100%;
	}

.mainLearnMore{
	background:#fff;
	color:#23A653;
	padding:5px 90px;
	}

.mainLearnMore:hover{
	color:#fff;
	background-color:#176E37;
	}